{% extends 'base.html' %}

{% block title %}
    Gallery
{% endblock %}
{% block body %}
    <header>
        {% include 'header.html' %}
    </header>
    <div class="container-xxl">
        <h1 style="text-align: center">Gallery</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ url_for('send_image', filename=images[0]) }}" class="d-block w-100" alt="...">
            </div>
            {% for image in images[1:] %}
                <div class="carousel-item">
                    <img src="{{ url_for('send_image', filename=image) }}" class="d-block w-100" alt="Upload some images in the gallery ">
                </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>



    </div>®
{% endblock %}